ul {
  width: 650px;
  margin: 40px auto;
  list-style: none;
}

li {
  display: flex;
}

li p {
  display: block;
	padding: 0 20px 30px 20px;
  line-height: 1.4;
}

li p:nth-child(1) {
  position: relative;
  padding-right: 25px;
  font-size: 14px;
  line-height: 2.5;
  color: #aaa;
  width: 300px;
  height: 75px;
}

li p:nth-child(1):after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  display: block;
  width: 20px;
  height: 20px;
  border: 5px solid #999;
  border-radius: 50%;
	background: #fff;
}

.happened p span  {
	opacity: 1;
}

.happened .description:after {
  background: #cfc;
  background: #35e835;
}

li p:nth-child(2) {
  flex: 1;
  font-size: 24px;
  border-left: 5px solid #999;
}

.happened p:nth-child(2) {
  border-left: 5px solid #91ef91;
}

.happened p:nth-child(1):after {
  border: 5px solid #91ef91;
}

li:last-child p:nth-child(2) {
  border-left: none;
}

li p span {
  display: block;
  margin: 5px 0 0;
  font-size: 14px;
  font-style: italic;
	color: #aaa;
  opacity: 0;
  line-height: 1.7;
  
}

.description {
	opacity: 1;
}