<div class='content-container'>
  <h1>Your Order</h1>
  <div class='order-container'>
    <div class='order-details'>
      <p>Number: <span>{{order.orderNumber}}</span></p>
      <p>Name: <span>{{order.title}}</span></p>
      <p>Description: <span>{{order.description}}</span></p>
      <p>Price: <span>{{order.price}}$</span></p>
    </div>
    <img src={{order.imgUrl}} alt=''>
  </div>
  <div class='connect-container'>
    <div class='customer-details'>
        <h2>Your Details</h2>
        <p>Name: <span>{{order.customer.name}}</span></p>
        <p>Email: <span>{{order.customer.email}}</span></p>
        <p>Phone: <span>+{{order.customer.phone}}</span></p>
        <p>Address: <span>{{order.customer.address.country}}, {{order.customer.address.city}},  {{order.customer.address.street}} {{order.customer.address.number}}</span></p>
    </div>
    <div class='provider-details'>
        <h2>Provider Details</h2>
        <p>Name: <span>{{order.provider.name}}</span></p>
        <p>Email: <span>{{order.provider.email}}</span></p>
        <p>Phone: <span>+{{order.provider.phone}}</span></p>
        <p>Address: <span>{{order.provider.address.country}}, {{order.provider.address.city}},  {{order.provider.address.street}} {{order.provider.address.number}}</span></p>
    </div>
  </div>
</div>